<!-- ---
import GenericHero from "../../components/sections/GenericHero.astro";
import Section from "../../components/sections/Section.astro";
import Layout from "../../layouts/Layout.astro";
import YourEdge from "../../snippets/youredge.md"

---
<Layout>
  <GenericHero>Test</GenericHero>
  <Section><YourEdge /></Section>
  <Section classes="bg-prince-500 relative text-white py-32 overflow-hidden"><YourEdge /></Section>
</Layout> -->