---
interface Props {
  classes?: string;
  styles?: string;
}

const { classes = "overflow-hidden bg-sunny-700 py-56 pb-20 flex items-center relative", styles = "max-w-2xl mx-auto px-4 prose prose-headings:text-white  prose-xl" } = Astro.props;
---

<section class={classes}>
  <div class={styles}>
    <slot />   
  </div> 
</section>

