---
import SmallLightbulb from "../components/SmallLightbulb.astro"
---



<footer class="bg-[#150833] text-white py-8">
  <div class="container flex  flex-col items-center mx-auto px-4 text-center">
    <!-- <p class="mb-4">
      Created by <a href="https://www.jeffmusgrave.com/" class="text-punch-500 hover:underline">Jeff Musgrave</a> © {new Date().getFullYear()}
    </p>
    <p class="mb-4">
      View site code on <a href="https://github.com/JeffMusgrave/designgenius-nextjs-2021" class="text-punch-500 hover:underline">Github</a>
    </p> -->
    <SmallLightbulb class="w-96 mb-32"  />
    <p>
      <a href="/sitemap-index.xml" class="text-sm text-gray-400 hover:underline">Sitemap</a>
    </p>
  </div>
</footer>