---
import Logo from './Logo.astro';
---

<header class="fixed py-2 top-0 left-0 right-0 z-50 scroll-fade-bg before:shadow-md transition-all duration-300">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <a href="/" class="flex items-center">
      <Logo class="w-32 h-auto [&_*]:fill-white" />
      <span class="sr-only">Design Genius</span>
    </a>
    <nav>
      <ul class="flex text-white space-x-6 text-sm font-semibold">
        <li><a href="#youredge" class=" hover:text-purple-500 transition-colors">Your Edge</a></li>
        <li><a href="#design" class=" hover:text-purple-500 transition-colors">Design</a></li>
        <li><a href="#albumart" class=" hover:text-purple-500 transition-colors">Album Art</a></li>
        <li><a href="#contact" class=" hover:text-purple-500 transition-colors">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.scroll-fade-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: theme('colors.prince.800'); 
  z-index: -1;
  animation: fade-in linear;
  animation-timeline: scroll();
  animation-range: 0 50vh;
}
</style>